* {
  box-sizing: border-box;
}

:root {
  --pri: #b8d0d1;
  --pri-fade: #9eb2b3;
  --current: rgba(255, 255, 255, 0.15);
  --sec: #373b63;
  --hw: #5e7835;
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('assets/iosevka-extralight.woff2') format('woff2'), url('assets/iosevka-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('assets/iosevka-extralightitalic.woff2') format('woff2'), url('assets/iosevka-extralightitalic.ttf') format('truetype');
}

body {
  background:var(--pri);
  color:var(--sec);
  font-size: 19px;
  line-height: 140%;
  /* margin:1em; */
  letter-spacing: 1px;
  font-family: 'iosevka web', sans-serif;
  margin-bottom: 2.3em;
}

h1 {
  font-size: 21px;
  font-weight: bolder;
  margin-top:0;
}

img {
  max-width: 100%;
  opacity: .8;
  /* border: 1px solid var(--sec); */
}

a {
  color:inherit;
  text-decoration: none;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  /* display: inline-block; */
  padding: 0 6px;
}

a:hover {
  background:transparent;
}

em {
  font-family: cursive;
  font-style: normal
}

ul, ol {
  margin:0;
  /* list-style: none; */
}

.hw {
  color:var(--hw);
  padding:0;
  margin-top:.5em;
}

header {
  display:flex;
  border-bottom:1px solid var(--sec);
}

.crossed-out {
  text-decoration: line-through;
}

.vision {
  max-height: 65px;
  overflow: hidden;
}

.vision img {
  /* width:800px; */
  background:var(--pri);
  min-width: 101%;
  max-width: 120%;
  position: relative;
  z-index: 99;
  /* height:100%; */
  left:50%;
  top:50%;
  transform: translate(-50%, -15%);
  display: block;
  border-left:1px solid var(--sec);
  border-right:1px solid var(--sec);
}

.block {
  width:50%;
  padding:1em;
  /* background:lightgray; */
}

.back-wrap {
  padding-bottom:0;
}

.line {
  width:50vw;
  position:fixed;
  height:100vh;
  border-right:1px solid var(--sec);
  top:0;
  left:0;
  pointer-events: none;
  z-index: 99;
}

.forum {
  display: flex;
  border-bottom:1px solid var(--sec);
  border-top:1px solid var(--sec);
}

.week {
  display:flex;
  flex-wrap:wrap;
  border-bottom:1px solid var(--sec);
}

.current {
  background:var(--current);
}

.week-title {
  width:100%;
  /* background:rgba(0, 0, 0, 0.19); */
  /* padding:1em; */
  display:flex;
}

.week-title .block {
  padding:1em 1em .5em 1em;
}

.day {
  padding-top: 0;
  padding-left:2.1em;
  position: relative;
}

/* .m::before {
  content:"M";
  position: absolute;
  left:1em;
  top:0;
}

.w::before {
  content:"W";
  position: absolute;
  left:1em;
  top:0;
} */

.day-label {
  display: flex;
  position: fixed;
  bottom:0;
  left:0;
  border-top: 1px solid var(--sec);
  width:100vw;
  background:var(--pri);
  z-index: 9;
  flex-wrap: wrap;
}

.day-label .block {
  text-align: center;
  padding: .5em;
}

.key {
  display: flex;
  border-bottom: 1px solid var(--sec);
  font-size: 80%;

}

.key-block {
  background:var(--pri);
  width:100%;
  position: relative;
  z-index: 9999;
  text-align: center;
}

.hw-key {
  color: var(--hw);
}

.note {
  font-size: 80%;
}

@media screen and (max-width: 800px) {
  .line {
    display:none;
  }

  header {
    flex-direction: column;
  }

  .forum {
    flex-direction: column;
  }

  .forum .block {
    border-bottom: 1px solid var(--sec);
  }

  .forum .block:last-of-type {
    border-bottom: transparent;
  }

  .week {
    flex-direction: column;
  }

  .date1 {
    order:3;
  }

  .m {
    order:4;
  }

  .date2 {
    order:1;
  }

  .w {
    order:2;
  }

  .day {
    padding-top: 0;
    padding-left:3.73em;
    position: relative;
  }

  .m::before {
    content:"M";
    position: absolute;
    left:1em;
    top:0;
  }

  .w::before {
    content:"W";
    position: absolute;
    left:1em;
    top:0;
  }

  .block {
    width:100%;
  }

  .day-label {
    display:none;
  }
}
