* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:35px;
  /* background:rgb(107, 168, 114); */
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: serif;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.doorway {
  width:130px;
  height:130px;
  /* background:black; */
  margin:20px;
  /* border-radius:20px; */
}

.spacer {
  width:100px;
}

.border {
  position:fixed;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  width:100%;
  height:100vh;
  z-index: 2;
  pointer-events: none;
}

.border-line {
  position: absolute;
  padding:30px;
  height:100%;
  width:100%;
}

.border-inner {
  height:100%;
  width:100%;
  border:1px solid black;
  border-radius:10px;
}

.b-top {
  height:30px;
  width:100%;
  background:white;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items:center;
}

.title {
  padding:0 20px 0 30px;
  border-right:1px solid black;
  border-left:1px solid black;
  background:white;
  height:100%;
  display: flex;
  align-items: center;
}

.b-middle {
  height:100%;
  display: flex;
  justify-content: space-between;
}

.b-side {
  background:white;
  width:30px;
  height:100%;
}

.b-bottom {
  height:30px;
  width:100%;
  background:white;
  flex-shrink: 0;
}



.parallax {
    /* background-image: url("img/particles5.gif"); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size:80px;
    /* filter:blur(0px); */
    /* animation: scroll 40s ease-in-out infinite; */
}

@keyframes scroll {
  0% {background-position: 0 0;}
  50% {background-position: -2000px 500px;}
  100% {background-position: 0 1000px;}
}

.title span {
		font-size:18px;
		animation:jumb .9s infinite ease-in-out alternate;
    padding-right:10px;
		transform:translateY(2px)
	}
	@keyframes jumb {
		0% {
			transform:translateY(2px)
		}
		100% {
			transform:translateY(-2px);
		}
	}
	.title span:nth-child(1) {
		animation-delay:0s;
	}
	.title span:nth-child(2) {
		animation-delay:.1s;
	}
	.title span:nth-child(3) {
		animation-delay:.2s;
	}
	.title span:nth-child(4) {
		animation-delay:.3s;
	}
	.title span:nth-child(5) {
		animation-delay:.4s;
	}
	.title span:nth-child(6) {
		animation-delay:.5s;
	}
	.title span:nth-child(7) {
		animation-delay:.6s;
	}
	.title span:nth-child(8) {
		animation-delay:.7s;
	}
	.title span:nth-child(9) {
		animation-delay:.8s;
	}
	.title span:nth-child(10) {
		animation-delay:.9s;
	}
	.title span:nth-child(11) {
		animation-delay:1s;
	}
	.title span:nth-child(12) {
		animation-delay:1.1s;
	}
	.title span:nth-child(13) {
		animation-delay:1.2s;
	}
